/* COMPONENTS: BUTTONS
   ========================================================================== */
/* Base */
.button {
  padding: 1rem 4rem;
  margin-bottom: 1rem ;
  cursor: pointer;
  font-family: $montserrat;
  font-size: $medium;
  font-weight: $font-black;
  border-radius: 25px;
}
.btn-send, .btn-contact {
  background-color: $red;
  color: $white;
}
.fas {
  color: $red;

}
/*Buscar*/
#basic-addon2 {
  color: $white;
  background-color: $green;
}

/* Button Scheme */
.button_primary {
  border: none;
  padding: 1rem 4.5rem 1rem 4.5rem;
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $turquesa;
  }

  &:focus {
    color: $white;
    background-color: $green;
  }
}
.button_second {
  
  background-color: $yellow !important;
  color: $white;

  &:hover {
    color: $gris;
    background-color: $blue;
    border: none;
  }

  &:focus {
    color: $gris;
    background-color: $red;
  }
}